<div class="container base">
  <a class="monomousu" href="https://goo.gl/forms/rpjYWnyX8IlUtyUk1" target="_blank">物申すッ!!!</a>
  <h2 class="edit_title">編 集</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "sample_form" }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
    <%= f.label :user_img %>の変更<br />
      <div class="image_field">
        <label for="user_image">
          <%= f.file_field :user_img, id: :user_image %>
          <%= image_tag current_user.user_img.url, id: :user_image_prev %>
        </label>
      </div>
    </div>
    <div class="field_wrap">
      <div class="field">
        <%= f.label :username %>の変更（16文字以内）<br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %>の変更<br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="buttons">
      <div class="back-or-action">
        <div class="back">
          <%= link_to "戻る", "/users/#{current_user.id}" %>
        </div>
        <div class="actions">
          <%= f.submit "更新" %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
<% end %>

<div class="destroy_user">
  <h3>魁!! 漢飯から身を引く</h3>
  <%= button_to "破門", registration_path(resource_name), data: { confirm: "貴様辞めるつもりかッ!!" }, method: :delete %>
</div>

</div>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#user_image_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_image").change(function(){
   readURL(this);
 });
});
</script>