<div class="container">

<h2>編 集 <%= resource_name.to_s.humanize %></h2>

<%= render 'files' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "sample_form" }) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>あかうんとの削除 <%= button_to "破門", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to 'ろぐあうと', destroy_user_session_path, method: :delete %>

<%= link_to "戻る", :back %>
</div>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $(".preview").empty();
       $(".preview").append($('<img>').attr({
          src: e.target.result,
          width: "100px",
          height: "100px",
          id: "image_preview",
       }));
       $("#image_preview").cropper({
         aspectRatio: 4/4
       });
       $(".modal").modal({
         clickClose: false,
       });
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_image").change(function(){
   readURL(this);
 });
});
$("#getData").on('click', function(){
  var data = $('#image_preview').cropper('getData');
  $('#x').val(Math.round(data.x))
  $('#y').val(Math.round(data.y))
  $('#width').val(Math.round(data.x))
  $('#height').val(Math.round(data.x))
  var form = $('#file_form').get()[0];
  console.log(form);
  var formData = new FormData( form );
  console.log(formData);
  $.ajax({
    url: '/files',
    type: 'post',
    dataType: 'json',
    // dataに FormDataを指定
    data: formData,
    // Ajaxがdataを整形しない指定
    processData: false,
    // contentTypeもfalseに指定
    contentType: false,
    beforeSend: function(request) {
        return request.setRequestHeader('X-CSRF-Token',  $('[name="csrf-token"]')[0].content);
    },
    }).done(function( res ) {
      // 送信せいこう！
      console.log( 'SUCCESS', res );
    }).fail(function( jqXHR, textStatus, errorThrown ) {
      // しっぱい！
      console.log( 'ERROR', jqXHR, textStatus, errorThrown );
    });

});
$('.modal').on($.modal.BEFORE_CLOSE, function(event, modal){
  $("#user_image").val('');
});
</script>
