<div class="top">
  <div class="top__container">
    <img class="top__logo" src="/assets/logo.svg" alt="魁!!漢飯">
    <div class="sign_wrap">
      <%= link_to '初 陣', new_user_registration_path, :class => "sign now" %><%= link_to '出 陣', new_user_session_path, :class => "sign" %>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form_wrap">
        <div class="field">
          <%= f.label :username %>（十六文字以内）<br />
          <%= f.text_field :username, autofocus: true, autocomplete: "user", :size=>"32" %>
        </div>

        
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "new-password", :size=>"32" %>
        </div>

        <div class="back-or-action">
          <div class="actions">
            <%= f.submit "いざ初陣ッ!" %>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>

    <%= link_to '概 要', '/top', :class => 'about' %>
  </div>
</div>