<div class="top">
  <div class="container">
    <h2 class="form-title">入 門</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :username %>（十六文字以内）<br />
        <%= f.text_field :username, autofocus: true, autocomplete: "user", :size=>"32" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password", :size=>"32" %>
      </div>

      <!-- <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"32" %>
      </div> -->

      <div class="back-or-action">
        <div class="back">
          <%= link_to "戻るッ!", "/" %>
        </div>
        <div class="actions">
          <%= f.submit "いざ参るッ!" %>
        </div>
      </div>
    <% end %>
  </div>
</div>