<div class="like-link" id="like-link-<%= post.id %>">
  <% if current_user.likes.find_by(post_id: post.id) %>
    <div class="appare">
      <%= button_to unlike_path(post.id), method: :delete, remote: true do %>
          <img class="appare" src="/assets/appare.png" alt="天晴済">
          <p class="appare-count"><%= post.likes.count %></p>
      <% end %>
    </div>
  <% else %>
    <div class="appare">
      <%= button_to like_path(post.id), method: :post, remote: true do %>
          <img class="appare" src="/assets/non_appare.png" alt="天晴">
          <p class="appare-count"><%= post.likes.count %></p>
      <% end %>
    </div>
  <% end %>
</div>