<div class="user__info">
  <% get_shogo_ex(@user) %>
  <% if current_user.try(:admin?) and @user == current_user %>
    <h2><%= link_to "管理者!!!!!!!", "/admin" %></h2>
  <% end %>
  <% if flash[:shoog] %>
    <p><%= flash[:shogo] %></p>
  <% end %>
  <h3 class="user__shogo">

    <% if @user.shogo_first_ex_flag and @shogo_first_ex %>
      <%= @shogo_first_ex.name %>
    <% else %>
      <%= @shogo_first.name %>
    <% end %>
    <% if @user.shogo_last_ex_flag and @shogo_last_ex %>
      <%= @shogo_last_ex.name %>
    <% else %>
      <%= @shogo_last.name %>
    <% end %>
    
  </h3>
  <h2 class="user__name">
    <%= @user.username %>
  </h2>
  <%= link_to image_tag(@user.user_img.url, :class => "user__icon"), "/users/#{@user.id}" %>
  <div class="user__right-side">
    <h3>戦闘力：<%= get_likes_total(@user) * 10000 %></h3>
    <h3>総兵力：<%= @user_posts.count * 10000 %></h3>
    <div class="user__right-side__btns<%= "_none" if @user.id != current_user.id %>">
      <%= link_to '編 集', edit_user_registration_path, {:class => "edit"} %>
      <%= link_to '退 陣', destroy_user_session_path, :class => "logout", method: :delete %>
    </div>
  </div>
  <div class="clear"></div>
</div>