<div class="container">
  <h3>
    <%= render "shogo_firsts/shogo_first", user: @user %>
    <%= render "shogos/shogo", user: @user %>
  </h3>
  <%= @user.username %>
  <%= image_tag(@user.user_img.url) %>
  <%= link_to '己を書き換える', edit_user_registration_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
</div>
