<div class="user">
  <h3 class="user__shogo">
    <%= render "shogo_firsts/shogo_first", user: @user %>
    <%= render "shogos/shogo", user: @user %>
  </h3>
  <h2 class="user__name">
    <%= @user.username %>
  </h2>
  <%= image_tag(@user.user_img.url, :class => "user__icon") %>
  <div class="user__right-side">
    <h3>戦闘力：9,999,999</h3>
    <h3>総兵力：9,999,999</h3>
    <div class="user__right-side__btns">
      <%= link_to '編 集', edit_user_registration_path, {:class => "edit"} %>
      <%= link_to '退 陣', destroy_user_session_path, :class => "logout", method: :delete %>
    </div>
  </div>
  <div class="clear"></div>

  <div class="user__tab_wrap">
    <input id="tab1" type="radio" name="tab_btn" checked>
    <input id="tab2" type="radio" name="tab_btn">

    <div class="user__tab_area">
      <label class="tab1_label" for="tab1">俺飯</label><label class="tab2_label" for="tab2">天晴</label>
    </div>

    <div class="user__panel_area">
      <div id="panel1" class="user__tab_panel">
        俺飯
      </div>
      <div id="panel2" class="user__tab_panel">
        天晴
      </div>
    </div>
  </div>
</div>