<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="image_field">
    <label for="post_image">
      <%= form.file_field :meshim, id: :post_image,
          accept: 'image/jpg,image/jpeg,image/png,image/gif' %>
      <div class="select-file">
        <%= image_tag @post.meshim.url, id: :post_image_prev %>
      </div>
    </label>
  </div>

  <div class="field">
    <h3 class="field_name">名：<span class="title_count"></span>文字</h3>
    <%= form.text_field :title, id: "textfield" %>
  </div>

  <div class="field">
    <h3 class="field_name">調理法：<span class="body_count"></span>文字</h3>
    <%= form.text_area :body, id: "textarea", size: "20x3"%>
  </div>

  <div class="chousen_field">
    <h3 class="field_name">挑戦　<%= form.collection_select :task_id, Task.all, :id, :body, :include_blank => "しないッ!!" %></h3>
  </div>

  <div class="back-or-action">
    <div class="back">
      <%= link_to "撤回", posts_path, { :class => "file" } %>
    </div>
    <div class="actions">
      <%= form.submit "完 了" %>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $(".select-file").empty();
       $(".select-file").append($('<img>').attr({
          src: e.target.result,
          id: "post_image_prev",
       }));
     }
     reader.readAsDataURL(input.files[0]);
   } else {
       $(".select-file").empty();
       $(".select-file").append($('<img>').attr({
          src: "<%= asset_path("default_post.png") %>",
          id: "post_image_prev",
       }));
   }
 }
 $("#post_image").change(function(){
   readURL(this);
 });
});

$(function(){

    var title_max = 12;
    var body_max = 40;
    $(".title_count").text(title_max - $("#textfield").val().length);
    $(".body_count").text(body_max - $("#textarea").val().length);

    $("#textfield").on("keydown keyup keypress change", titleCount);
    $("#textarea").on("keydown keyup keypress change", bodyCount);

    function titleCount() {
      var title_length = $(this).val().length;
      var title_countdown = title_max - title_length;
      $(".title_count").text(title_countdown);

        if(title_countdown <= 0){
          $('.title_count').css({
              color:'#c9171e'
          });
        } else {
          $('.title_count').css({
              color:'#fcfaf2'
          });
        }
    }

    function bodyCount() {
      var body_length = $(this).val().length;
      var body_countdown = body_max - body_length;
      $(".body_count").text(body_countdown);

        if(body_countdown <= 0){
          $('.body_count').css({
              color:'#c9171e'
          });
        } else {
          $('.body_count').css({
              color:'#fcfaf2'
          });
        }
    }
});

</script>