<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "名" %>
    <!--<%= form.label :title %>-->
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <!--<%= form.label :final %>-->
    <%= "画" %>
    <% if @post.meshim? %>
      <%= image_tag @post.meshim.url  %>
    <% else %>
      <div id="preview"></div>
    <% end %>
    <%= form.file_field :meshim, id: :post_image %>
  </div>

  <div class="field">
    <!--<%= form.label :final %>-->
    <%= "流" %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit([name="完 了"]) %>
  </div>
<% end %>

<script>
function Filepreview(evt){
 var files = evt.target.files;

document.getElementById('preview').innerHTML =""

 for(var i = 0; i < 3;i++){
  var reader = new FileReader();
  var f = files[i]
  reader.onload = (function(){
  return function(e) {
    var span = document.createElement('span');
    span.innerHTML= "<img src='" +e.target.result + "'>";
    document.getElementById('preview').insertBefore(span,null);
  };
 })(f);
 reader.readAsDataURL(f);
 }
}
document.getElementById('post_image').addEventListener('change',Filepreview,false);
</script>
