<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="res__container ore_info">
  <div class="user">
    <%= render "users/user" %>
  </div>
</div>

<div class="res__container base meshi_new">
  <h1 class="new_soldier">新兵追加</h1>
  <%= render 'form', post: @post %>
</div>

<div class="index_container"> 
    <div class="tab_area">
      <%= link_to '新着', 'posts/news', :class => 'label checked' %><%= link_to '番付', 'posts/rank', :class => 'label' %><%= link_to '挑戦', 'tasks/index', :class => 'label' %>
    </div>

    <% if flash[:shogo] %>
      <p class="shogo__flash"><%= flash[:shogo] %></p>
    <% end %>
    
    <%= render 'search_form' %>
    <div class="panel_area">
      
    </div>
</div>

<script type="text/javascript">

$(function(){
	//ページを表示させる箇所の設定
  var $content = $('.panel_area');

	//ボタンをクリックした時の処理
	$(document).on('click', '.tab_area a', function(event) {
    event.preventDefault();
		//.tab_area aのhrefにあるリンク先を保存
    var link = $(this).attr("href");
    $(this).addClass("checked");
    $(this).siblings().removeClass("checked");
		//リンク先が今と同じであれば遷移しない
		if(link == lastpage){
			return false;
		}else{
			$content.fadeOut(200, function() {
        getPage(link);
			});
			//今のリンク先を保存
			lastpage = link;
		}
		
	});
	//初期設定
	getPage('/posts/news');
	var lastpage = '/posts/news';
 
	//ページを取得してくる
  function getPage(elm){
    $.ajax({
      type: 'GET',
      url: elm,
      dataType: 'html',
      success: function(data){
        $content.html(data).fadeIn(200);
      },
      error:function() {
        alert('問題がありました。');
      }
    });
  }
});
</script>