<div class="index_container">
  <div class="tab_wrap">
    <input id="tab1" type="radio" name="tab_btn" checked>
    <input id="tab2" type="radio" name="tab_btn">
    <input id="tab3" type="radio" name="tab_btn">

    <div class="tab_area">
      <label class="tab1_label" for="tab1">新着</label>
      <label class="tab2_label" for="tab2">番付</label>
      <label class="tab3_label" for="tab3">天晴</label>
    </div>
    
    <div class="panel_area">
      <div id="panel1" class="tab_panel">
        <% @posts.each do |post| %>
          <div class="post">

            <div class="post__user--icon">
              <img class="post_user_img" src="/assets/default_user_image.JPG" alt="">
            </div>
                
            <div class="post__wrap">
              <div class="user-info">
                <h3>称号称号称号称号称号称号称号称号</h3>
                <p class="post__created"><%= post.created_at.strftime('%m/%d %H:%M') %></p>
                <h2>名前名前名前名前名前名前名前名前</h2>
              </div>
                
              <div class="meshi_wrap">
                <%= link_to image_tag(post.meshim.url, :class => "meshi"), post %>
              </div>
              <h2 class="post__title"><%= post.title %></h2>
              <p class="post__body"><%= post.body %></p>
              <div id="like_<%=post.id %>">
                <%= render "likes/like", post: post %>
              </div>
              <p class="appare-count">7777</p>
            </div>
          </div>
        <% end %>
      </div>
      <div id="panel2" class="tab_panel">
        <% @posts.each do |post| %>
          <div class="meshi_wrap">
            <%= link_to image_tag(post.meshim.url, :class => "meshi"), post %>
          </div>
          <h2><%= post.title %></h2>
          <p><%= post.body %></p>
          <div id="like_<%=post.id %>">
            <%= render "likes/like", post: post %>
          </div>
        <% end %>
      </div>
      <div id="panel3" class="tab_panel">
        <% @posts.each do |post| %>
          <div class="meshi_wrap">
            <%= link_to image_tag(post.meshim.url, :class => "meshi"), post %>
          </div>
          <h2><%= post.title %></h2>
          <p><%= post.body %></p>
          <div id="like_<%=post.id %>">
            <%= render "likes/like", post: post %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
