<!DOCTYPE html>
<html>
  <head>
    <title>魁!!漢飯</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# アイコンの追加 %>
    <%= favicon_link_tag('favicon.ico') %>
    <%# フォント読み込み %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+JP:500,900&amp;subset=japanese" rel="stylesheet">
  </head>

  <body>
    <% path = request.fullpath %>
    <% if path != "/" %>
      <header>
        <% if user_signed_in? %>
          <%= link_to '情報編集', edit_user_registration_path, { :class => "my_page" } %>
          <%= link_to image_tag('/assets/logo.svg', :class => "logo"), '/posts', { :class => "logo_link" } %>
          <%= link_to '新兵追加', new_post_path, { :class => "new" } %>
        <% else %>
          <%= link_to image_tag('/assets/logo.svg', :class => "logo"), '/' %>
        <% end %>
      </header>
      <!--
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      -->
    <% end %>
    <%= yield %>
  </body>
</html>
